<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>GetNinjas</title>
    </head>
    <body>
    <div class="mx-auto" style="width: 500px;" >
        <h1>Cadastro de clientes da empresa GetNinjas</h1>

        <a href="{{ url_for('cadastrar') }}" class="btn btn-outline-success">Cadastrar Clientes</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('lista') }}" class="btn btn-outline-success">Listar Clientes</a>
    </div>
<footer>

  <!-- Copyright -->
    <div class="fixed-bottom"  >
  <div class="footer-copyright text-center py-3" >
    <p> © 2020 All Copyright Reserve for GetNinjas.com.br</p>
  </div>
  </div>
        <!-- Copyright -->

</footer>
</body>
</html>